html {
	padding: 0;
	background-color: #D7CEC7;
}
body {
	margin: 0;
	/*margin-top: -21px;*/
}
#root {
	margin: 0;
}
#page {
	margin: 0;
}

#header_outline {
	display: flow-root;
	height: 100px;
}

#header {
	background-color: #D7CEC7;
	color: #76323F;
	text-shadow: 1px 1px 1px #866F59;
	margin: 0;
	display: flow-root;
	padding: 10px;
	transition: padding 0.2s;
	width: 100%;
	z-index: 1;
	position: fixed;
}
#header h1, button {
	opacity: 1;
}

.content {
	background-color: #E3DCD7;
	color: #76323F;
	text-shadow: 1px 1px 1px #866F59;
	padding: 1em;
	float: left;
	margin: 0 20em 6em 2.2em;
	border-radius: 1em;
	width: auto;
}

#outerContent {
	display: flow-root;
	width: 100%;

}

#footer {
	background-color: #C09F80;
	box-shadow: 0 -2px 16px #866F59;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.menuButton {
	color: bisque;
	background-color: mediumslateblue;
	border: 0;
}
.menuButton:hover {
	background-color: blue;
}

#photo {
	width: 12.5em;
	height: 18.75em;
	border-radius: 20px;
	box-shadow: 1px 1px 3px #866F59;
}

#sidebar {
	padding: 3em 2em 3em 2em;
	margin: 2em 2em 2em 10%;
	border-radius: 1em;
	box-shadow: 0.6em 0.6em 2em #866F59;
	background-color: #C09F80;
	position: fixed;
	right: 0;
	color: #76323F;
	text-shadow: 1px 0px 1px #5E2832;
}
#menu {
	float: right;
	padding: 10px;
}

#headline {
	float: left;
	margin: 0px 0px 0px 30px;
}
p {
	font-size: 30px;
}
