.init-container {
	display: grid;
	grid: [row1-start] "back header header" auto [row1-end]
        [row2-start] "table table table" auto [row2-end]
				[row3-start] "buttonMenu buttonMenu buttonMenu" auto [row3-end]
        / 12.5% 50% auto;
}



@media only screen and (min-width: 600px) {
	.init-container {
		grid: [row1-start] "back back header header header" auto [row1-end]
					[row2-start] ". table table table ." auto [row2-end]
					[row3-start] ". buttonMenu buttonMenu buttonMenu ." auto [row3-end]
					/ 8.33% 16.66% 50% 16.66% 8.33%;
	}
}

@media only screen and (min-width: 768px) {
	.init-container {
		grid: [row1-start] "back . header . ." auto [row1-end]
					[row2-start] ". . table . ." auto [row2-end]
					[row3-start] ". . buttonMenu . ." auto [row3-end]
					/ 8.33% 16.66% 50% 16.66% 8.33%;
	}
}
#init-header {
	grid-area: header;
	text-align: center;
}
#init-backBtn {
	grid-area: back;

}

#init-addBox {
	grid-area: header;
}

#init-footer {
	grid-area: buttonMenu;
	text-align: center;
}
#initTable {
	grid-area: table;
}
